/* Image Cards
--------------------------------------------*/
.imgCards {
  position: relative;
  background-color: #e1e1e1;
  padding-top: 70px;
  padding-bottom: 35px;
}
.imgCard-wrapper {
  background-color: #fff;
  margin-bottom: 70px;
}
.imgCard-img {
  padding: 0;
}
.imgCard-textWrapper {
  background-color: #fff;
  width: 100%;
  padding: 35px 40px;
}
.imgCard-textWrapper .border {
  background-color: #dbdbdb;
  margin-left: 0;
  margin-bottom: 20px;
}
.imgCard-leadText {
  color: #707070;
  margin-bottom: 20px;
}
.imgCard-mainText {
  margin-bottom: 40px;
}
.imgCard-dimText {
  color: #8a8a8a;
  font-size: 0.9rem;
  margin-bottom: 40px;
}
.imgCard-chart {
  max-width: unset;
  width: 120%;
  margin-left: -10%;
}
@media (min-width: 450px) {
  .imgCards {
    padding-bottom: 40px;
  }
  .imgCard-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .imgCard-chart {
    max-width: 100%;
    margin-left: unset;
  }
}
@media (min-width: 768px) {
  .imgCards {
    padding-bottom: 50px;
  }
  .imgCard-wrapper {
    max-width: 600px;
  }
  .imgCard-chart {
    width: 400px;
  }
}
@media (min-width: 992px) {
  .imgCards {
    padding-bottom: 75px;
  }
  .imgCard-wrapper {
    max-width: unset;
    margin-bottom: 70px;
  }
  .imgCard-img,
  .imgCard-textWrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }  
  .imgCard-img {
    width: 60%;
  }  
  .imgCard-textWrapper {
    width: 40%;
    padding-left: 30px;
    padding-right: 20px;
  }
  .imgCard-rightAlign .imgCard-img {
    left: 40%;
  }
  .imgCard-rightAlign .imgCard-textWrapper {
    left: -60%;
    padding-left: 20px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .imgCards {
    padding-top: 80px;
  }
  .imgCard-wrapper {
    margin-bottom: 100px;
  }
  .imgCard-textWrapper {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 40px;
  }
  .imgCard-rightAlign .imgCard-textWrapper {
    padding-left: 40px;
    padding-right: 60px;
  }
}
