<!-- Footer -->
<footer>
  <div class="footerCopyright">
    <p class="footerCopyright-bchd">Copyright &copy; 2019 <a href="https://bchd.cash/" target="_blank">bchd.cash</a> All rights reserved.</p>
    <p class="footerCopyright-googlePlay">Google Play and the Google Play logo are trademarks of Google LLC.</p>
  </div>
</footer>
